{% extends "base-left.html" %}
{% load staticfiles %}

{% block title %}SandBox{% endblock %}

{% block content %}

    <section class="content-header">
      <h1>
        我的工作台
        <small>江苏沙盒科技协同办公平台</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 办公平台</a></li>
        <li><a href="{% url 'personal' %}">我的工作台</a></li>
      </ol>
    </section>

    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{ work_order_1 }}</h3>

              <p>已保存的工单</p>
            </div>
            <div class="icon">
              <i class="fa fa-pencil"></i>
            </div>
            <a href="#" class="small-box-footer">{{ start_date| date:'Y年m月' }}</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow ">
            <div class="inner">
              <h3>{{ work_order_2 }}</h3>

              <p>等待派发的工单</p>
            </div>
            <div class="icon">
              <i class="fa fa-send-o"></i>
            </div>
            <a href="#" class="small-box-footer">{{ start_date| date:'Y年m月' }}</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ work_order_3 }}</h3>

              <p>等待执行的工单</p>
            </div>
            <div class="icon">
              <i class="glyphicon glyphicon-play"></i>
            </div>
            <a href="#" class="small-box-footer">{{ start_date| date:'Y年m月' }}</a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-gray">
            <div class="inner">
              <h3>{{ work_order_4 }}</h3>

              <p>等待确认的工单</p>
            </div>
            <div class="icon">
              <i class="fa fa-check"></i>
            </div>
            <a href="#" class="small-box-footer">{{ start_date| date:'Y年m月' }}</a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                           <div id="bar_container" style="height: 400px"></div>
                        </div>
                        <div class="col-md-4">
                           <div id="pie_container" style="height: 400px"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
      </div>
    </section>

{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{% static 'plugins/echarts/echarts.min.js' %}"></script>
  <script type="text/javascript">
	$(function() {
		$('#index').addClass('active');
	});

	//echarts
    var bar_dom = document.getElementById("bar_container");
    var myChart = echarts.init(bar_dom);
    option = null;
    option = {
        title : {
            text: '工单提交统计（本年度）',
            subtext: '工单申请数量'
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['孙贵彪','马云', '李冬冬']
        },
        toolbox: {
            show : true,
            feature : {
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'孙贵彪',
                type:'bar',
                data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
                markPoint : {
                    data : [
                        {type : 'max', name: '最大值'},
                        {type : 'min', name: '最小值'}
                    ]
                },
            },
            {
                name:'马云',
                type:'bar',
                data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
            },
            {
                name:'李冬冬',
                type:'bar',
                data:[4.6, 6.9, 7.0, 20.4, 22.7, 76.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
                markPoint : {
                    data : [
                        {name : '年最高', value : 182.2, xAxis: 7, yAxis: 183},
                        {name : '年最低', value : 2.3, xAxis: 11, yAxis: 3}
                    ]
                },
            }
        ]
    };
    ;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }

    //echarts bar
    var pie_dom = document.getElementById("pie_container");
    var myChart = echarts.init(pie_dom);
    option = null;
    option = {
        title : {
            text: '工单提交比例（本年度）',
            subtext: '工单申请比例',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: ['孙贵彪','马云','李冬冬']
        },
        series : [
            {
                name: '访问来源',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    {value:335, name:'孙贵彪'},
                    {value:310, name:'马云'},
                    {value:234, name:'李冬冬'},
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    ;
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
  </script>
{% endblock %}