{% extends "base-left.html" %}
{% load staticfiles %}

{% block css %}
<!-- iCheck for checkboxes and radio inputs -->
{% endblock %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header margin-bottom">
  <ol class="breadcrumb">
    <li><a href=""><i class="fa fa-dashboard"></i>办公平台</a></li>
    <li class="active"><a href="{% url 'adm-equipment:equipment' %}">设备管理</a></li>
    <li class="active"><a href="{% url 'adm-equipment:equipment-detail' %}">设备详情</a></li>
  </ol>
</section>
    <!-- Main content -->

  <section class="content">

      <div class="row">
        <div class="col-md-3">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">客户信息</h3>

              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked">
                  <li><a href="#" title="联系人"><i class="fa fa-user"></i>  {{ equipment.customer.name }}</a></li>
                <li><a href="#" title="电话"><i class="fa fa-phone"></i> {{ equipment.customer.phone }}</a></li>
                <li><a href="#" title="单位"><i class="fa fa-building" ></i> {{ equipment.customer.unit }}</a></li>
                <li><a href="#" title="地址"><i class="fa fa-map-marker"></i> {{ equipment.customer.address }}</a></li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /. box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">销售信息</h3>

              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked">
                  <li><a href="#" title="联系人"><i class="fa fa-user"></i>{{ equipment.customer.belongs_to.name }}</a></li>
                <li><a href="#" title="电话"><i class="fa fa-phone"></i>{{ equipment.customer.belongs_to.mobile }}</a></li>
                <li><a href="#" title="邮箱"><i class="fa fa-envelope" ></i>{{ equipment.customer.belongs_to.email }}</a></li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">设备信息</a></li>
              <li><a href="#timeline" data-toggle="tab">维保记录</a></li>
              <li class="pull-right"><a href="" data-toggle="tab">
                  <button type="button" id="btnReturn" class="btn btn-default">
                  <i class="fa fa-reply"></i>返回
                  </button>
              </a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <div class="box-header">
                    <h3 class="box-title">设备信息：</h3>
                </div>
                <div class="box-body no-padding">
                  <table class="table table-striped"><tbody>
                    <tr>
                      <td style="width: 30%">设备编号</td>
                      <td>{{ equipment.number }}</td>
                    </tr>
                    <tr>
                      <td>设备类型</td>
                      <td>{{ equipment.equipment_type }}</td>
                    </tr>
                    <tr>
                      <td>设备型号</td>
                      <td>{{ equipment.equipment_model }}</td>
                    </tr>
                    <tr>
                      <td>购买日期</td>
                      <td>{{ equipment.buy_date }}</td>
                    </tr>
                    <tr>
                      <td>质保日期</td>
                      <td>{{ equipment.warranty_date }}</td>
                    </tr>
                    <tr>
                      <td>配置说明</td>
                      <td>{{ equipment.config_desc }}</td>
                    </tr>
                  </tbody></table>
                </div>
                <div class="box-header">
                    <h3 class="box-title">分销商信息:</h3>
                </div>
                <div class="box-body no-padding">
                  <table class="table table-striped"><tbody>
                    <tr>
                      <td style="width: 30%">分销商</td>
                      <td>{{ equipment.supplier.company }}</td>
                    </tr>
                    <tr>
                      <td>联系人</td>
                      <td>{{ equipment.supplier.linkname }}</td>
                    </tr>
                    <tr>
                      <td>联系电话</td>
                      <td>{{ equipment.supplier.phone }}</td>
                    </tr>
                  </tbody></table>
                </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="timeline">
                <!-- The timeline -->
                <ul class="timeline timeline-inverse">
                  <!-- timeline time label -->
                  <li class="time-label">
                        <span class="bg-red">
                          2018-5-1
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-envelope bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 23:32</span>

                      <h3 class="timeline-header"><a href="#">韩洪乾</a> 维保服务进度更新</h3>

                      <div class="timeline-body">
                        今天联系客户负责人，和客户谈了设备续保事宜，明天去现场做次设备巡检，同时和客户介绍下公司的服务项目。
                      </div>
{#                      <div class="timeline-footer">#}
{#                        <a class="btn btn-primary btn-xs">Read more</a>#}
{#                        <a class="btn btn-danger btn-xs">Delete</a>#}
{#                      </div>#}
                    </div>
                  </li>
                  <li class="time-label">
                        <span class="bg-red">
                          2018-5-2
                        </span>
                  </li>
                  <li>
                    <i class="fa fa-envelope bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> 20:32</span>

                      <h3 class="timeline-header"><a href="#">韩洪乾</a> 维保服务进度更新</h3>

                      <div class="timeline-body">
                        今天去客户现场做的巡检服务,提供了巡检报告,向客户介绍了公司的服务项目.
                      </div>
{#                      <div class="timeline-footer">#}
{#                        <a class="btn btn-primary btn-xs">Read more</a>#}
{#                        <a class="btn btn-danger btn-xs">Delete</a>#}
{#                      </div>#}
                    </div>
                  </li>
                  <!-- END timeline item -->
                  <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                  </li>
                </ul>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>

    <!-- /.content -->

{% endblock %}

{% block javascripts %}
  <!-- iCheck 1.0.1 -->
  <script type="text/javascript">
	$(function() {
	    $('#ADM-EQUIPMENT').addClass('active');

	});

    $("#btnReturn").click(function(){
		history.back();
	});
  </script>

{% endblock %}