{% extends "base-left.html" %}
{% load staticfiles %}

{% block title %}Gistandard{% endblock %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header margin-bottom">
  <ol class="breadcrumb">
    <li class="active">404错误</li>
  </ol>
</section>
    <!-- Main content -->
  <section class="content">
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> 糟糕! 访问的页面不存在.</h3>

          <p>
            您请求的页面不存在，或者您无权限访问这个页面。
            如果您需要使用该页面功能，请于管理员联系。

          </p>
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>


  </section>

    <!-- /.content -->

{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
	$(function() {
		$('#index').addClass('active');
	});
  </script>
{% endblock %}