{% extends "base-left.html" %}
{% load staticfiles %}

{% block title %}Gistandard{% endblock %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header margin-bottom">
  <ol class="breadcrumb">
    <li class="active">404错误</li>
  </ol>
</section>
    <!-- Main content -->
  <section class="content">
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-yellow"> 404</h2>

          <p>&nbsp</p>
        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i> 请求的页面不存在，可能原因：</h3>

          <p>
            1、你无权访问该页面&nbsp&nbsp
            2、该功能暂未开放，页面不存在

          </p>
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>


  </section>

    <!-- /.content -->

{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
	$(function() {
		$('#index').addClass('active');
	});
  </script>
{% endblock %}